.containerAbout{
    display: flex;
    height: 100vh;
    align-items: center;
    gap: 145px;
}
.aboutInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 57px;
}
.mainText{
    text-align: left;
}
.contactText{
    background-image: linear-gradient(90deg, #fff900, #ff6c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 5px;
    letter-spacing: 1px;
    font-weight:bold;
}
/* PHOTO CARD */ 

.card {
    --background: linear-gradient(-45deg, #ff6c00 0%, #fff900 100% );
    padding: 7px;
    border-radius: 1rem;
    overflow: visible;
    background:#ff6c00;
    background: var(--background);
    position: relative;
    z-index: 1;
   }
   .imgPerfil{
    background-image: url(../img/Imagen-Perfil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 400px;
    }
   
   .card::after {
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(1);
    filter: blur(25px);
    background:#fff900;
    background: var(--background);
    transition: opacity .5s;
   }
   
   
   /*Hover*/
   .card:hover::after {
    opacity: 0;
   }
   
   .card:hover .card-info {
    color: #f7ba2b;
    transition: color 1s;
   }
   
/* END PHOTO CARD */

@media (max-width:720px) {
    .containerAbout{
        flex-direction: column;
        margin-top: 90px;
    }
    .imgPerfil{
        height: 375px;
        width: 300px;
    }
}
@media (min-width:1024px) and (max-width:1628px) {
    .containerAbout{
        margin-left: 16%;
    }
}

