.presentationContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}
.name{
    display: flex;
    justify-content: center;
}
.saludo1{
    font-size:4rem;
}
.saludo2{
    font-size:3rem;
}
.presentacion{
    font-size:5rem;
}
.presentacion1{
    font-size:5rem;
}
.presentacion2{
    font-size:4rem;
}
.imageTitle{
    width: 445px;
    height: 337px;
    display: flex;
    flex-direction: column;
}
.imageTitle img{
    flex-basis: 579px;
}
.infoMain{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
}
.socialLinksContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* NOMBRE EFFECT */
.containerName{
    height: 114px;
    display: flex;
    font-size: 35px;
    line-height: 112px;
    overflow: hidden;
}
.presentacion, .nameVuelta{
    margin: 0;
}
.presentacion{
    color: white;
    letter-spacing: 2px;
    margin-top: 0;
}
.nameVuelta{
    list-style: none;
    position: relative;
    animation: movimiento 7s infinite;
}
.nameVuelta li{
    background-image: linear-gradient(90deg, #ff6c00,#fff900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 5px;
    letter-spacing: 1px;
}
@keyframes movimiento {
    0%{top: 0;}

    25%{top: -105px;}

    50%{top: -105px;}

    75%{top: 0px;}

    100%{top: 0;}
}
/* END NOMBRE EFFECT */
/* LIGHT EFFECT W */
.lightEffectW{
    display: flex;
}
.lightEffectW li{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    letter-spacing: 15px;
    text-shadow: none;
    animation: animate 1s infinite linear;
}
@keyframes animate{
    0%{
        color: #484848;
        text-shadow: none;
    }
    18%{
        color: #484848;
        text-shadow: none;
    }
    20%{
        color: #fff900;
        text-shadow:0 0 7px #fff900, 0 0 20px #ff6c00;
    }
    30%{
        color: #484848;
        text-shadow: none;
    }
    35%{
        color: #fff900;
        text-shadow:0 0 7px #fff900, 0 0 20px #ff6c00;
    }
    70%{
        color: #484848;
        text-shadow: none;
    }
    85%{
        color: #fff900;
        text-shadow:0 0 7px #fff900, 0 0 20px #ff6c00;
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #484848;
        text-shadow: none;
    }
}
.lightEffectW li:nth-child(1){
    animation-delay:.2s;
}
.lightEffectW li:nth-child(2){
    animation-delay:.4s;
}
.lightEffectW li:nth-child(3){
    animation-delay:.6s;
}
.lightEffectW li:nth-child(4){
    animation-delay:.8s;
}
.lightEffectW li:nth-child(5){
    animation-delay:1s;
}
.lightEffectW li:nth-child(6){
    animation-delay:1.2s;
}
.lightEffectW li:nth-child(7){
    animation-delay:1.4s;
}
/* END LIGHT EFFECT W */ 

  /* BOTON MAIN */
.buttonMain {
    align-items: center;
    background-image: linear-gradient(144deg,#fff900, #ff6c00 50%,#fff900);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    max-height: 55px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
.buttonMain:active,
   .buttonMain:hover {
    outline: 0;
   }
   
   .buttonMain span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   .buttonMain:hover span {
    background: none;
   }
   
   .buttonMain:active {
    transform: scale(0.9);
   }
  /* END BOTON MAIN */

 /* ATRONAUTA */
  @keyframes snow {
    0% {
      opacity: 0;
      transform: translateY(0px);
    }
  
    20% {
      opacity: 1;
    }
  
    100% {
      opacity: 1;
      transform: translateY(650px);
    }
  }
  
  @keyframes astronaut {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .box-of-star1,
  .box-of-star2,
  .box-of-star3,
  .box-of-star4 {
    width: 50%;
    position: absolute;
    z-index: 10;
    left: 0px;
    top: 0;
    transform: translateY(0px);
    height: 50px;
  }
  
  
  .box-of-star1 {
    animation: snow 5s linear infinite;
  }
  
  .box-of-star2 {
    animation: snow 5s -1.64s linear infinite;
  }
  
  .box-of-star3 {
    animation: snow 5s -2.30s linear infinite;
  }
  
  .box-of-star4 {
    animation: snow 5s -3.30s linear infinite;
  }
  
  .star {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    opacity: 0.7;
  }
  
  .star:before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 80px;
    left: 70px;
    opacity: .7;
  }
  
  .star:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFF;
    position: absolute;
    z-index: 10;
    top: 8px;
    left: 170px;
    opacity: .9;
  }
  
  .star-position1 {
    top: 30px;
    left: 20px;
  }
  
  .star-position2 {
    top: 110px;
    left: 250px;
  }
  
  .star-position3 {
    top: 60px;
    left: 570px;
  }
  
  .star-position4 {
    top: 120px;
    left: 900px;
  }
  
  .star-position5 {
    top: 20px;
    left: 1120px;
  }
  
  .star-position6 {
    top: 90px;
    left: 1280px;
  }
  .star-position7 {
    top: 90px;
    left: 1500px;
  }
  .star-position8 {
    top: 90px;
    left: 1780px;
  }
  .star-position9 {
    top: 90px;
    left: 2000px;
  }
  .star-position10 {
    top: 90px;
    left: 2250px;
  }
  
  
  .astronaut {
    width: 250px;
    height: 300px;
    
    z-index: 11;
    
    animation: astronaut 5s linear infinite;
  }
  
  .schoolbag {
    width: 100px;
    height: 150px;
    position: absolute;
    z-index: 1;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    background-color: #94b7ca;
    border-radius: 50px 50px 0 0 / 30px 30px 0 0;
  }
  
  .head {
    width: 97px;
    height: 80px;
    position: absolute;
    z-index: 3;
    background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
    border-radius: 50%;
    top: 34px;
    left: calc(50% - 47.5px);
  }
  
  .head:after {
    content: "";
    width: 60px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 30px);
    background: -webkit-linear-gradient(top, #15aece 0%, #15aece 50%, #0391bf 50%, #0391bf 100%);
    border-radius: 15px;
  }
  
  .head:before {
    content: "";
    width: 12px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px);
    left: -4px;
    background-color: #618095;
    border-radius: 5px;
    box-shadow: 92px 0px 0px #618095;
  }
  
  .body {
    width: 85px;
    height: 100px;
    position: absolute;
    z-index: 2;
    background-color: #fffbff;
    border-radius: 40px / 20px;
    top: 105px;
    left: calc(50% - 41px);
    background: -webkit-linear-gradient(left, #e3e8eb 0%, #e3e8eb 50%, #fbfdfa 50%, #fbfdfa 100%);
  }
  
  .panel {
    width: 60px;
    height: 40px;
    position: absolute;
    top: 20px;
    left: calc(50% - 30px);
    background-color: #b7cceb;
  }
  
  .panel:before {
    content: "";
    width: 30px;
    height: 5px;
    position: absolute;
    top: 9px;
    left: 7px;
    background-color: #fbfdfa;
    box-shadow: 0px 9px 0px #fbfdfa, 0px 18px 0px #fbfdfa;
  }
  
  .panel:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 9px;
    right: 7px;
    background-color: #fbfdfa;
    border-radius: 50%;
    box-shadow: 0px 14px 0px 2px #fbfdfa;
  }
  
  .arm {
    width: 80px;
    height: 30px;
    position: absolute;
    top: 121px;
    z-index: 2;
  }
  
  .arm-left {
    left: 30px;
    background-color: #e3e8eb;
    border-radius: 0 0 0 39px;
  }
  
  .arm-right {
    right: 30px;
    background-color: #fbfdfa;
    border-radius: 0 0 39px 0;
  }
  
  .arm-left:before,
  .arm-right:before {
    content: "";
    width: 30px;
    height: 70px;
    position: absolute;
    top: -40px;
  }
  
  .arm-left:before {
    border-radius: 50px 50px 0px 120px / 50px 50px 0 110px;
    left: 0;
    background-color: #e3e8eb;
  }
  
  .arm-right:before {
    border-radius: 50px 50px 120px 0 / 50px 50px 110px 0;
    right: 0;
    background-color: #fbfdfa;
  }
  
  .arm-left:after,
  .arm-right:after {
    content: "";
    width: 30px;
    height: 10px;
    position: absolute;
    top: -24px;
  }
  
  .arm-left:after {
    background-color: #6e91a4;
    left: 0;
  }
  
  .arm-right:after {
    right: 0;
    background-color: #b6d2e0;
  }
  
  .leg {
    width: 30px;
    height: 40px;
    position: absolute;
    z-index: 2;
    bottom: 70px;
  }
  
  .leg-left {
    left: 76px;
    background-color: #e3e8eb;
    transform: rotate(20deg);
  }
  
  .leg-right {
    right: 73px;
    background-color: #fbfdfa;
    transform: rotate(-20deg);
  }
  
  .leg-left:before,
  .leg-right:before {
    content: "";
    width: 50px;
    height: 25px;
    position: absolute;
    bottom: -26px;
  }
  
  .leg-left:before {
    left: -20px;
    background-color: #e3e8eb;
    border-radius: 30px 0 0 0;
    border-bottom: 10px solid #6d96ac;
  }
  
  .leg-right:before {
    right: -20px;
    background-color: #fbfdfa;
    border-radius: 0 30px 0 0;
    border-bottom: 10px solid #b0cfe4;
  }

  /* SOCIAL MEDIA */

  .social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 24px;
    width: 24px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
  }
  
  .social-btn:hover {
    width: 150px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: 80px;
  }
  
  #twitter svg {
    fill: #1da1f2;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }


/* RESPONSIVE */
/* PHONE */
@media (max-width:724px) {
    .presentationContainer{
        flex-wrap: wrap;
    }
    .containerName{
        flex-direction: column;
        line-height: 30px;
        height: 86px;
        justify-content: space-between;
        overflow: visible;
    }
    .presentacion{
        margin-top: 60px;
    }
    .presentacion, .presentacion2, .presentacion1{
        font-size:2rem
    }
    .nameVuelta li{
        margin-top: 15px;
    }
    .nameVuelta {
        height: 50px;
        animation: 0;
        margin-left: -40px;
    }
    .palabras{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lightEffectW{
        margin-left: 0px;
        margin-top: 58px;
        display: flex;
        justify-content: center;
    }
    .lightEffectW li{
        list-style: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        letter-spacing: 15px;
        text-shadow: none;
        animation: animate 1s infinite linear;
    }
    .saludo2{
        font-size: 2rem;
    }
    .imageTitle{
        width: 190px;
        height: 134px;
        display: flex;
    }
    .imageTitle img{
        flex-basis: 579px;
    }
    .bienvenida{
        width: 100%;
    }
    .infoMain{
        flex-direction: column;
    }
    .star-position10,
    .star-position9,
    .star-position8,
    .star-position7,
    .star-position6, 
    .star-position5,
    .star-position4,
    .star-position3,
    .star-position2{
        display: none;
    }
    
    .astronaut {
        width: 200px;
        height: 250px;
        
        z-index: 11;
        
        animation: astronaut 5s linear infinite;
      }
    .box-of-star1,
  .box-of-star2,
  .box-of-star3,
  .box-of-star4 {
    left: 50px;
  }
}
/* TABLET */
@media (min-width:768px) and (max-width:1024px) {
  .star-position10,
  .star-position9,
  .star-position8,
  .star-position7,
  .star-position6, 
  .star-position5,
  .star-position4{
      display: none;
  }
}
/* LAPTOP */
@media (min-width:724px) and (max-width:1280px) {
    .lightEffectW{
        justify-content: center;
    }
    .presentacion{
        font-size: 3rem;
    }
    .presentacion1{
        font-size: 3.5rem;
    }
    .presentacion2{
        font-size: 2rem;
    }
    .containerName{
        line-height: 95px;
        
    }
    .imageTitle{
        width: 304px;
        height: 226px;
        display: flex;
        flex-direction: column;
    }
    .imageTitle img{
        flex-basis: 579px;
    }
    .star-position10,
    .star-position9,
    .star-position8,
    .star-position7,
    .star-position6, 
    .star-position5{
        display: none;
    }
}
@media (min-width:1024px) and (max-width:1700px){
    .presentationContainer{
        margin-left: 8%;
    }
    .star-position10,
    .star-position9,
    .star-position8,
    .star-position7{
        display: none;
    }
}


/* BOTON */
.container {
    width: 400px;
    height: 360px;
  }
  
  .terminal_toolbar {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#504b45 0%, #3c3b37 100%);
  }
  
  .butt {
    display: flex;
    align-items: center;
  }
  
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255,255,255,0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  }
  
  .btns-color {
    background: #ee411a;
  }
  
  .btns:hover {
    cursor: pointer;
  }
  
  .btns:focus {
    outline: none;
  }
  
  .butt--exit {
    background: linear-gradient(#f37458 0%, #de4c12 100%);
  }
  
  .user {
    color: #d5d0ce;
    margin-left: 6px;
    font-size: 14px;
    line-height: 15px;
  }
  
  .terminal_body {
    background: rgba(56, 4, 40, 0.9);
    height: calc(100% - 30px);
    padding-top: 2px;
    margin-top: -1px;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .terminal_promt {
    display: flex;
  }
  
  .terminal_promt span {
    margin-left: 4px;
  }
  
  .terminal_user {
    color: #7eda28;
  }
  
  .terminal_location {
    color: #4878c0;
  }
  
  .terminal_bling {
    color: #dddddd;
  }
  
  .terminal_cursor {
    display: block;
    height: 14px;
    width: 5px;
    margin-left: 10px;
    animation: curbl 1200ms linear infinite;
  }
  
  @keyframes curbl {
    
    0% {
      background: #ffffff;
    }
  
    49% {
      background: #ffffff;
    }
  
    60% {
      background: transparent;
    }
  
    99% {
      background: transparent;
    }
  
    100% {
      background: #ffffff;
    }
  }
  