.containerCards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.containerIcons{
  display: flex;
  justify-content: center;
  height: 20px;
  margin-bottom: 10px;
}
.containerIcons div{
  margin-right: 10px;
  margin-left: 10px;
  height: 40px;
}
/* CARD */
.cardProject {
  width: 24em;
  height: 27em;
  padding: 10px;
  background: #333;
  transition: ease-in-out;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
}
.cardProject:hover{
  box-shadow: 0px 0px 17px 0px #ff6c00;
}

.cardProject span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.cardProject .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.cardProject .img {
  
  background: white;
  border-radius: 15px;
  margin: auto;
}

.cardProject .share {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.cardProject a {
  color: white;
  transition: .4s ease-in-out;
}

.cardProject a:hover {
  color: red;
}

.cardProject button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ff6c00;
  color: rgb(0, 0, 0);
  transition: .4s ease-in-out;
}
.cardProject button a{
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.cardProject button:hover {
  background: #ff6c00;
  color: white;
  cursor: pointer;
}
/* END CARD */
@media (max-width:800px) {
  .containerCard {
    width: 100%;
    height: calc(100%-175px);
  }
}
@media (min-width:800px) and (max-width:1024px) {
  .containerCard {
    width: 35%;
    height: 100%;
  }
}

.imageCard{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 353px;
  height: 187px;
}

.iconProject{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  width: 40px;
}

/* IMAGENES PROJECTOS */

.gangapadel{
  background-image: url(../img/paginaDh.jpg);
}

.blogFilter{
  background-image: url(../img/BlogFilter.jpg);
}



