.mainContainerSkills{
    display: inline-block;
    flex-direction: column;
    margin-top: 100px;
    text-align: start;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #ff6c00;
}
.titleSkills{
    font-size: 2rem;
}
.iconsSkills{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 20px;
}
.divImgsSkills {
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}

.divImgsSkills img{
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}
.divImgsSkills i{
    width: 75px;
    height: 75px;
    font-size: 60px;
    margin-bottom: 10px;
}
.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.divSkills p{
    color: white;
}

/* IMAGENES  */
.github{
    background-image: url(../img/icons/iconGitHub.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.git{
    background-image: url(../img/icons/iconGit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.postman{
    background-image: url(../img/icons/iconPostMan.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bootstrap{
    background-image: url(../img/icons/iconBootStrap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.css{
    background-image: url(../img/icons/iconCss.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.html{
    background-image: url(../img/icons/iconHtml.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.jquery{
    background-image: url(../img/icons/iconjquery.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.javascript{
    background-image: url(../img/icons/iconJs.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mysql{
    background-image: url(../img/icons/iconMySqlWorkBench.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nodejs{
    background-image: url(../img/icons/iconNode.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.react{
    background-image: url(../img/icons/iconReact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.redux{
    background-image: url(../img/icons/iconRedux.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sequalize{
    background-image: url(../img/icons/iconSequalize.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}